@page
@model DirectoryModel
@{
    ViewData["Title"] = "Directory";
    Layout = "_Layout2";
}

@{ if (!string.IsNullOrEmpty(Model.Username))
    {
        <h2>Welcome, @Model.Username </h2>

        <p>Search Directory</p>
        <input type="text" id="searchQuery" placeholder="Search" value="">
        <button class="btn btn-primary" id="load">Load</button>
        <div id="grid"></div>

    
        @section scripts{
            <script>
                document.getElementById('load').addEventListener('click', () => {
                    var searchQuery = document.getElementById("searchQuery").value;
                    var page = '/UserInfoGrid/'
                    var url = page + searchQuery;
                    fetch(url)
                        .then((response) => {
                            return response.text();
                        })
                        .then((result) => {
                            document.getElementById('grid').innerHTML = result;
                        });
                });
            </script>
        }
    }
    else
    {
        Response.Redirect("/Login");
    }
}