@page
@model DirectoryModel
@{
    ViewData["Title"] = "Directory";
    Layout = "_Layout2";
}

@{ if (!string.IsNullOrEmpty(Model.Username))
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Welcome, @Model.Username </h2>
                    <p><h3>Search Directory</h3></p>
                    <div class="form-inline">
                            <input type="text" class="form-control mr-sm-2" id="searchQuery" placeholder="Search" value="">
                            <button class="btn btn-default my-2 my-sm-o" id="load">Load</button>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-12">
                    <div id="grid"></div>
                </div>
            </div>            
        </div>

    }
    else
    {
        Response.Redirect("/Login");
    }
}