@page
@model DirectoryModel
@{
    ViewData["Title"] = "Directory";
    Layout = "_Layout2";
}

@{ if (!string.IsNullOrEmpty(Model.Username))
    {
        <h2>Welcome, @Model.Username </h2>

        <p>Search Directory</p>

        <p><button class="btn btn-primary" id="load">Load</button></p>
        <div id="grid"></div>

        @section scripts{
            <script>
                document.getElementById('load').addEventListener('click', () => {
                    fetch('/UserInfoGrid')
                        .then((response) => {
                            return response.text();
                        })
                        .then((result) => {
                            document.getElementById('grid').innerHTML = result;
                        });
                });
            </script>
        }
    }
    else
    {
        Response.Redirect("/Login");
    }
}