@page
@model DirectoryModel
@{
    ViewData["Title"] = "Directory";
    Layout = "_Layout2";
}

@{ if (!string.IsNullOrEmpty(Model.Username))
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Welcome, @Model.Username </h2>
                    <p><h3>Search Directory</h3></p>
                    <div class="form-inline">
                            <input type="text" class="form-control mr-sm-2" id="searchQuery" placeholder="Search" value="">
                            <button class="btn btn-default my-2 my-sm-o" id="load">Load</button>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-12">
                    <div id="grid"></div>
                </div>
            </div>            
        </div>

    
        @section scripts{
            <script>
                document.getElementById('load').addEventListener('click', () => {
                    var searchQuery = document.getElementById("searchQuery").value;
                    var page = '/UserInfoGrid/'
                    var url = page + searchQuery;
                    fetch(url)
                        .then((response) => {
                            return response.text();
                        })
                        .then((result) => {
                            document.getElementById('grid').innerHTML = result;
                        });
                });
                document.getElementById("searchQuery").addEventListener("keyup", () => {
                    if (event.keyCode == 13) {
                        event.preventDefault();
                        document.getElementById("load").click();
                    }
                });

            </script>
        }
    }
    else
    {
        Response.Redirect("/Login");
    }
}