@page
@model DirectoryModel
@{
    ViewData["Title"] = "Directory";
    Layout = "_Layout2";
}

@{ if (!string.IsNullOrEmpty(Model.Username))
    {
    <div class="sidenav">
        <input style="background-color:#2d2d2c;font-size:1.0rem;text-align:left;color:#F8FBFF" type="text" class="form-control" id="searchUserList" placeholder="Search" value="">
        <div id="UserList">
            @{
                foreach (var item in Model.ADActiveUserList)
                {
                    <button type="button" id="@item" onClick="SearchADUser2(this.id)" style="width:200px" class="btn btn-primary">@item</button>
                }
            }
        </div>
    </div>
    <div id="UserInfo" style="padding-bottom:20px" class="container">
        <div class="jumbotron">
            <h1>Welcome!</h1>
            <p class="lead">Use the search bar on the left to search the directory.</p>
        </div>
    </div>
    <div class="modal" id="resetModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reset Password</h5>
                    <button type="button" id="xModalBtn" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form autocomplete="off" id="pwResetForm"  method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" asp-for="ResetPassword" class="form-control" />
                            <span asp-validation-for="ResetPassword"></span>
                        </div>
                        <div id="modalPWResetStatus"></div>
                    </div>
                    <div id="mfooter" class="modal-footer">
                        <button type="submit" id="resetPWSave" class="btn btn-primary">Save changes</button>
                        <button type="button" id="closeModalBtn" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="UnlockModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="xUnlockModalBtn" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalUnlockStatus">
                    Press OK to send the unlock command. 
                </div>
                <div id="mfooter" class="modal-footer">
                    <form id="unlockAccForm" method="post">
                    <button type="submit" id="passwordResetOKBtn" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    </form>
                    <button type="button" id="closeUnlockModalBtn" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    }
    else
    {
        Response.Redirect("/Login");
    }
    @section scripts{
        @await Html.PartialAsync("_ValidationScriptsPartial")

    }
}

