@page "{searchQuery?}"
@model DirectoryModel
@{
    ViewData["Title"] = "Directory";
    Layout = "_Layout2";
}

@{ if (!string.IsNullOrEmpty(Model.Username))
    {
        <div class="sidenav">
            <input style="background-color:#2d2d2c;font-size:1.0rem;text-align:left;color:#F8FBFF" type="text" class="form-control" id="searchQuery1" placeholder="Search" value="">
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#clients">Clients</a>
            <a href="#contact">Contact</a>
        </div>
        <div class="container">
            <div style="padding-bottom:20px" class="row">
                <div class="col-lg-12">
                    <label>Search Directory</label>
                    <input type="text" class="form-control" id="searchQuery" placeholder="Search" value="">
                    <button class="btn btn-primary my-2 my-sm-o" id="searchADUser">Search AD</button>
                </div>
            </div>
            <div id="UserInfo">

            </div>

        </div>


        <div class="modal" id="resetModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" id="xModalBtn" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="pwResetForm" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="ResetPassword">Reset Password:</label>
                                <input type="text" asp-for="ResetPassword" class="form-control" />
                                <span asp-validation-for="ResetPassword"></span>
                            </div>
                            <div id="modalPWResetStatus"></div>
                        </div>
                        <div id="mfooter" class="modal-footer">
                            <button type="submit" id="resetPWSave" class="btn btn-primary">Save changes</button>
                            <button type="button" id="closeModalBtn" class="btn btn-secondary" data-dismiss="modal">Close</button>';
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal" id="UnlockModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="xUnlockModalBtn" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modalUnlockStatus">
                        Unlock command sent.
                    </div>
                    <div id="mfooter" class="modal-footer">
                        <button type="button" id="closeUnlockModalBtn" class="btn btn-primary" data-dismiss="modal">Ok</button>';
                    </div>
                </div>
            </div>
        </div>


    }
    else
    {
        Response.Redirect("/Login");
    }
    @section scripts{
        @await Html.PartialAsync("_ValidationScriptsPartial")
        <script>

            var searchQuery;
            $('#searchADUser').on('click', searchADUser);


            function searchADUser() {
                searchQuery = $('#searchQuery').val();
                var url = 'UserInfoGrid/' + $('#searchQuery').val();
                fetch(url)
                    .then((response) => {
                        return response.text();
                    })
                    .then((result) => {
                        $('#UserInfo').html(result);
                        $('#resetpw').on('click', ResetPassword);
                        $('#unlockacc').on('click', UnlockAcc)
                    })
            }

            function ResetPassword() {
                $('#resetModal').css('display', 'block');
                $('#xModalBtn').on('click', function close() { $('#resetModal').css('display', 'none'); });
                $('#closeModalBtn').on('click', function close() { $('#resetModal').css('display', 'none'); });
            }

            function UnlockAcc() {
                var url = '/UserInfoGrid?handler=UnlockAccount' + searchQuery;
                fetch(url, {
                    method: 'post'
                })
                    .then(() => {
                        $('#UnlockModal').css('display', 'block');
                        $('#xUnlockModalBtn').on('click', function close() { $('#UnlockModal').css('display', 'none'); });
                        $('#closeUnlockModalBtn').on('click', function close() { $('#UnlockModal').css('display', 'none'); });
                    })

            }

            $('#pwResetForm').submit(function (event) {
                let formData = new FormData(document.forms[0]);
                formData.append('searchQuery', searchQuery);
                fetch('/UserInfoGrid?handler=ResetPassword', {
                    method: 'post',
                    body: new URLSearchParams(formData)
                })
                    .then((response) => {
                        return response.text();
                        //alert('Posted using Fetch');
                    })
                    .then((result) => {
                        //var html = result.html();
                        $('#modalPWResetStatus').html(result);
                    })
                event.preventDefault();
            });






            /* var resetModal;
            document.getElementById('searchADUser').addEventListener('click', () => {
                searchQuery = document.getElementById("searchQuery").value;
                var page = '/UserInfoGrid/'
                var url = page + searchQuery;
                fetch(url)
                    .then((response) => {
                        return response.text();
                    })
                    .then((result) => {
                        document.getElementById('grid').innerHTML = result;
                        document.getElementById('resetpw').addEventListener('click', () => {
                            resetModal = document.getElementById('resetModal');
                            resetModal.style.display = "block";
                            document.getElementById("xModalBtn").addEventListener('click', () => {
                                resetModal.style.display = "none";
                            });
                            document.getElementById("closeModalBtn").addEventListener('click', () => {
                                resetModal.style.display = "none";
                            });

                        });
                    });
            });*/

            /*document.forms[0].onsubmit = () => {
               let formData = new FormData(document.forms[0]);
               fetch('/UserInfoGrid?handler=ResetPassword', {
                   method: 'post',
                   body: new URLSearchParams(formData)
               })
                   .then((response) => {
                       response.text();
                       alert('Posted using Fetch');
                   })
                   .then((result) => {
                   //document.getElementById('grid').innerHTML = result;
               });
               return false;
           };*/

            document.getElementById("searchQuery").addEventListener("keyup", () => {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    document.getElementById("searchADUser").click();
                }
            });

        </script>
    }
}

