@page "{searchQuery?}"
@model DirectoryModel
@{
    ViewData["Title"] = "Directory";
    Layout = "_Layout2";
}

@{ if (!string.IsNullOrEmpty(Model.Username))
    {
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Welcome, @Model.Username </h2>
                    <p><h3>Search Directory</h3></p>
                    <div class="form-inline">
                            <input  type="text" class="form-control mr-sm-2" id="searchQuery" placeholder="Search" value="">
                            <button class="btn btn-default my-2 my-sm-o" id="searchADUser">Search AD</button>                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="grid"></div>
                </div>
            </div>
        </div>

        <div class="modal" id="resetModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" id="xModalBtn" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control mr-sm-2" id="resetPWIn" placeholder="Enter Password" value="">
                    </div>
                    <div id="mfooter" class="modal-footer">
                        <form method="post">
                            <button type="button" id="resetPWSave" name="pwIn" class="btn btn-primary">Save changes</button>
                        </form>
                        <button type="button" id="closeModalBtn" class="btn btn-secondary" data-dismiss="modal">Close</button>';
                    </div>
                </div>
            </div>
        </div>

        }
        else
        {
            Response.Redirect("/Login");
        }
    @section scripts{ 
        <script>
            var searchQuery;
            document.getElementById('searchADUser').addEventListener('click', () => {
                searchQuery = document.getElementById("searchQuery").value;
                var page = '/UserInfoGrid/'
                var url = page + searchQuery;
                    fetch(url)
                        .then((response) => {
                            return response.text();
                        })
                        .then((result) => {
                            document.getElementById('grid').innerHTML = result;
                            document.getElementById('resetpw').addEventListener('click', () => {
                                var resetModal = document.getElementById('resetModal');
                                resetModal.style.display = "block";
                                document.getElementById("xModalBtn").addEventListener('click', () => {
                                    resetModal.style.display = "none";
                                });
                                document.getElementById("closeModalBtn").addEventListener('click', () => {
                                    resetModal.style.display = "none";
                                });

                            });
                        });
            });

            document.getElementById("searchQuery").addEventListener("keyup", () => {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    document.getElementById("searchADUser").click();
                }
            });

          
          document.getElementById('resetPWSave').addEventListener('click', () => {
             //var input = $('#resetPWIn').val();
                $.ajax({
                    type: "POST",
                    url: "/UserInfoGrid?handler=Test/" + searchQuery,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    success: function (response) {
                        alert('you good');
                    },
                    failure: function (response) {
                        alert('nope');
                    }
                });
            });
            

            /*document.getElementById('resetPWSave').addEventListener('click', () => {
                var item1 = $('#resetPWIn').val();
                $.ajax({
                    type: "POST",
                    url: "/UserInfoGrid?handler=Test/" + searchQuery,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: JSON.stringify({
                        Item1: item1
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        alert('you good');
                    },
                    failure: function (response) {
                        alert('nope');
                    }
                });
            });*/

            /*document.getElementById('resetPWSave').addEventListener('click', () => {
                $.ajax({
                    type: "POST",
                    url: "/UserInfoGrid?handler=ChangePassword/" + searchQuery + "/" + document.getElementById('resetPWIn').value,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    success: function (response) {
                        alert('you good');
                    },
                    failure: function () {
                        alert('nope');
                    }
                });
            });*/
        </script>
    }
}

  