@page  "{searchQuery?}/{pw?}"
@model UserInfoGridModel
@{
    Layout = null;
}
<script src="~/js/test.js"></script>
<div class="container">
    <div>
        <button class="btn btn-default" id="unlockacc">Unlock Account</button>
        <button class="btn btn-default" id="resetpw">Reset Pasword</button>
    </div>

    <div class="row">
        <div class="col-sm-1">Username:</div>
        <div class="col-sm">@Model.ADUsername</div>
        <div class="col-sm-1">Email:</div>
        <div class="col-sm">@Model.ADEmailaddress</div>
    </div>
</div>



