@page  "{searchQuery?}"
@model UserInfoGridModel
@{
    Layout = null;
}
<script src="~/js/test.js"></script>
<div class="container">
    <div>
        <button class="btn btn-default" id="unlockacc">Unlock Account</button>
        <button class="btn btn-default" id="resetpw">Reset Pasword</button>
    </div>

    <div class="row">
        <div class="col-sm-1">Username:</div>
        <div class="col-sm">@Model.ADUserDisplayName</div>
        <div class="col-sm-1">Email:</div>
        <div class="col-sm">@Model.ADUserEmailAddress</div>
    </div>

    <div class="modal" id="resetModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" id="xModalBtn" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body">

                        <input type="text" class="form-control mr-sm-2" name="pwIn" id="resetPWIn" placeholder="Enter Password" value="" />
                    </div>
                    <div id="mfooter" class="modal-footer">

                        <button type="submit" id="resetPWSave" class="btn btn-primary">Save changes</button>

                        <button type="button" id="closeModalBtn" class="btn btn-secondary" data-dismiss="modal">Close</button>';
                    </div>
            </div>
        </div>
    </div>

</div>



