@page  "{searchQuery?}"
@model UserInfoGridModel
@{
    Layout = null;
}



<button class="btn btn-outline-primary" id="unlockacc">Unlock Account</button>
<button class="btn btn-outline-primary" id="resetpw">Reset Pasword</button>
<p></p>
<table class="table table-dark">
    <tbody>
        <tr>
            <th></th>
            <td>Display Name</td>
            <td>@Model.ADUserDisplayName</td>
        </tr>
        <tr>
            <th></th>
            <td>Email Address</td>
            <td>@Model.ADUserEmailAddress</td>
        </tr>
        <tr>
            <th></th>
            <td>test</td>
            <td>test</td>
        </tr>
    </tbody>
</table>






