@page "{searchQuery}"
@model UserInfoGridModel
@{
    Layout = null;
}

<div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
        <div class="col-sm-1">Username:</div>
        <div class="col-sm">@Model.ADUsername</div>
        <div class="col-sm-1">Email:</div>
        <div class="col-sm">@Model.ADEmailaddress</div>
    </div>
</div>

